<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 자동 매핑 -->
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
    <typeAliases>
    	<typeAlias alias="AdoptionApplication" type="com.test.pet.model.AdoptionApplication"/>
    	<typeAlias alias="PetResult" type="com.test.pet.model.PetResultDTO" />
	</typeAliases>



	
</configuration>