<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">






<mapper namespace="com.test.pet.mapper.AdoptionApplicationMapper">

	<insert id="insertAdoptionApplication" parameterType="com.test.pet.model.AdoptionApplication">
	
		INSERT INTO AdoptionApplication (
    seq, idmember, seqpet, regdate, name, gender, age, telephone, email, calltime, region, maritalStatus, job, q1, q1Memo, q2,q3Adult, q3Minor, q4, q5, q6Memo, q7, q8, q9, q10, q11, q12, q13
	) 
	VALUES (
    seqAdoptionApplication.nextVal, 'softrain', 77, sysdate, #{name}, #{gender}, #{age}, #{telephone}, #{email}, #{calltime}, #{region}, #{maritalStatus},
    #{job}, #{q1}, #{q1Memo}, #{q2},#{q3Adult}, #{q3Minor}, #{q4}, #{q5}, #{q6Memo}, #{q7}, #{q8}, #{q9}, #{q10}, #{q11}, #{q12}, #{q13}
	)
	
	</insert> 
	
	
	
	<select id="getAllAdoptionApplications" parameterType="com.test.pet.model.AdoptionApplication">
		SELECT * FROM AdoptionApplication
	</select>
	
</mapper>


