<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.pet.mapper.PetBoardMapper">

  <insert id="insertPet" parameterType="com.test.pet.model.PetDTO" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO pet2 (
      id, petinfo, seqshelterid, location, name, gender, neutered,
      age, weight, detail, regdate
    )
    VALUES (
             seqPet2.nextval,
             #{petinfo, jdbcType=VARCHAR},
             #{seqshelterid},
             #{location},
             #{name},
             #{gender},
             #{neutered},
             #{age},
             #{weight},
             #{detail},
             SYSDATE
           )

  </insert>
    <insert id="insertImage" parameterType="com.test.pet.model.ImageDTO" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO image (seq, image)
        VALUES (seqImage.nextval, #{image})
    </insert>

    <insert id="insertPetImage" parameterType="com.test.pet.model.PetImageDTO">
        INSERT INTO pet_image (seq, seqPet, seqImage)
        VALUES (seqPet_Image.nextval, #{seqPet}, #{seqImage})
    </insert>




</mapper>