<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.pet.mapper.PetBoardDAO">

    <insert id="insertPet" parameterType="com.test.pet.model.PetDTO">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seqPet2.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO pet2(id, petInfo, seqShelterId, location, name, gender, neutered, age, weight, detail, regdate)
        VALUES (#{id}, #{petInfo}, #{seqShelterId}, #{location}, #{name}, #{gender}, #{neutered}, #{age}, #{weight}, #{detail}, SYSDATE)
    </insert>








</mapper>