<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.pet.mapper.PetBoardListMapper">

    <select id="selectPetBoardList" resultMap="PetBoardMap">
<![CDATA[
        SELECT * FROM (
        SELECT ROWNUM AS rnum, inner.* FROM (
        SELECT
        p.id,
        p.name,
        p.age,
        p.seqShelterId,
        s.name AS shelterName
        FROM pet2 p
        JOIN shelter s ON p.seqShelterId = s.seq
        ORDER BY p.id DESC
        ) inner
        WHERE ROWNUM <= #{endRow}
        )
        WHERE rnum >= #{startRow}
        ]]>
    </select>

    <resultMap id="PetBoardMap" type="com.test.pet.model.PetBoardDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="shelterName" column="shelterName"/>
    </resultMap>



    <select id="countAllPets" resultType="int">
        select count(*) from pet2

    </select>



</mapper>