<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.pet.mapper.PetImageMapper">


    <insert id="insertImage" parameterType="com.test.pet.model.ImageDTO">
        <selectKey keyProperty="seq" resultType="long" order="BEFORE">
            SELECT seqImage.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO image (seq, image)
        VALUES (#{seq}, #{image})
    </insert>

    <select id="selectImagesByPetId" parameterType="long" resultType="com.test.pet.model.ImageDTO">
        select i.seq, i.image
        from pet_image pi
        join image i ON pi.seqImage = i.seq
        where pi.seqPet = #{petId}
    </select>

</mapper>